*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Header */

.header{
    background-color: #1F2937;
    display:flex;
    justify-content: space-around;
    align-content: center;
}
.logo-text{
    font-size: 24px;
    color: #F9FAF8;
}
.hlinks{
    list-style: none;
    text-align: center;
    display: flex;
    align-items: center;
}

.hlink{
    display: inline-block;
    margin-right: 16px;
}

.hlinktext{ 
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

/* Upper Top */
.upper-top{
    height: 400px;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.awesome{
    height: 250px;
    width: 390px;
    text-align: left;
}
.image{
    height: 250px;
    width: 390px;
}
.awesome-title{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.awesome-text{
    font-size: 18px;
    color: #E5E7EB;
}
.btn{
    margin-top: 16px;
    border: none;
    border-radius: 10px;
    width: 100px;
    background-color: #3882f6;
    padding: 8px;
    color: #F9FAF8;
    font-weight: bold;
    cursor: pointer;
}
.btn:hover{
    background-color: #F9FAF8;
    color: #3882f6;
}
img{
    object-fit:cover;
    height: 100%;
    width: 100%;
    position: relative;
}

/* Upper */
.upper{
    padding: 16px;
    height: 400px;

}
.upper-text{
    text-align: center;
}
.upper-img,.upper-img img{
    height: 150px;
    width: 150px;
    border-radius: 16px;
}
.img-sect{
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 32px;

}
/* Lower Top */

.lower-top{
    background-color: #E5E7EB;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.quote-sect{
    height: 200px;
    width: 750px;
}

.quote-sect p{
    float: right;
    font-weight: bold;
    margin-top: 8px;
    margin-right: 32px;
}
.quote{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: lighter;
    text-align: left;
}
.clear{
    clear: both;
}
/* Lower */

.lower{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.call-sect{
    height: 100px;
    width: 750px;
    border-radius: 10px;
    background-color: #3882f6;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.call-title{
    color: #F9FAF8;
    font-weight: bold;
}
.call-text{
    color: #E5E7EB;
}
.btn-call{
    border: 2px solid #F9FAF8;
    border-radius: 10px;
    color: #F9FAF8;
    font-weight: bold;
    height: 32px;
    width: 100px;
    padding: 8px;
    background-color: #3882f6;
    cursor: pointer;
}
.btn-call:hover{
    color: #3882f6;
    background-color: #F9FAF8;
}
/* Footer */

.footer{
    background-color: #1F2937;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text{
    color: #E5E7EB;
}
